.boundary__line {
    width: 100%;
    height: 1px;
    background: #e0e0e0;
}

.wrap__promotion__info {
    border: 1px solid #e0e0e0;
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
}

.wrap__promotion__info .header__promotion__info {
    background: #f6f6f6;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #e0e0e0;
}

.header__promotion__info .titile__promotion {
    height: 10px;
}

.header__promotion__info .note__promotion {
    font-size: 13px;
    font-weight: 500;
    color: #666666;
}

.option__item div {
    display: flex;
}

.number__option {
    margin-right: 10px;
    min-width: 16px;
    margin-top: 5px;
    text-align: center;
    height: 16px;
    border-radius: 50%;
    background-color: #4a90e2;
    font-size: 14px;
    color: #f6f6f6;
    position: relative;
}

.tick__option__item {
    margin-bottom: 25px;
    margin-top: 8px;
    margin-left: 30px;
}

.tick__option__item p {
    height: 10px;
}

.footer__promotion {
    height: 50px;
    border-top: 1px dashed #e0e0e0;
}

.footer__promotion p {
    font-size: 14px;
}
.more__information {
    margin-top: 10px;
}
.card__discount {
    display: flex;
    flex-wrap: wrap;
}
.card__discount div {
    border: 1px solid #e0e0e0;
    flex: 1;
}
.card__discount div p {
    height: 7px;
    font-size: 14px;
}
.btn__buyNow {
    margin-top: 10px;
    width: 100%;
    height: 46px;
    background: #fb6e2e;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.btn__buyNow p {
    margin: auto;
    text-transform: uppercase;
}
.btn__buy__installment {
    display: flex;
    margin-top: 7px;
}
.btn__buy__installment div {
    flex: 1;
    text-align: center;
    background: #2f80ed;
    height: 45px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.wrap__contact {
    display: flex;
    justify-content: center;
    margin-top: 8px;
}
/* extra offer */
.box__extra__offer {
    margin-top: 10px;
    border-radius: 4px;
    border: 1px solid #e0e0e0;
}
.header__extra__offer {
    border-bottom: 1px solid #e0e0e0;
    height: 43px;
}
.content__extra__offer p {
    /* height: 26px; */
}
.load-more-offer {
    display: flex;
}
.load-more-offer p {
    margin: auto;
}
/*  */
.wrap__configuration {
    margin-top: 12px;
}
.title__configuration {

}
.body__configuration .item__configuration{
    height: 40px;
}
.item__configuration div {
    position: relative;
}
.item__configuration div p {
    position: absolute;
    margin-top: 6px;
}
