<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="buynow">
      <div class="buy-header">
        <span class="name-product"
          >Điện thoại Samsung Galaxy Z Fold3 5G 256GB</span
        >
        <span class="price-product"> 36.990.000₫ </span>
        <strike>41.990.000₫</strike>
      </div>
      <div class="buy-main">
        <strong>Chọn màu:</strong>
        <div class="product-color">
          <div class="color">
            <img src="./images/image1.jpg" alt="" width="40"/><br>
            <input type="radio" name="color" id="" /><br>
            <span>Bạc</span>
          </div>
          <div class="color">
            <img src="./images/image2.jpg" alt="" width="40" /><br>
            <input type="radio" name="color" id="" /><br>
            <span>Đen</span>
          </div>
          <div class="color">
            <img src="./images/image3.jpg" alt="" width="40" /><br>
            <input type="radio" name="color" id="" /><br>   
            <span>Xanh rêu</span>
          </div>
        </div>
        <div class="product-quantity">
            <span>chọn số lượng:</span>
            <div class="select"></div>
        </div>
      </div>
      <div class="buy-footer">
          <div class="product-detail">
              <a href="">xem tất cả khuyến mãi</a>
              <div class="discountpromotion">
                  <span>Giảm</span><strong> 1.000.000₫</strong>
                  <span>còn</span><strong> 35.990.000₫</strong>
              </div>
              <button class="ordered">Thêm vào giỏ hàng</button>
              <a href="" class="ordered-product">Xem giỏ hàng</a>
          </div>
      </div>
    </div>
  </body>
</html>
