.manage__container {
    display   : flex;
    min-height: 100vh;

    .manage__nav {
        flex      : 1;
        min-height: 100%;

        .dashboard__header {
            height          : 65px;
            background-color: #303c54;
            color           : #e4e6e9;
            display         : flex;
            align-items     : center;
            justify-content : center;
            font-size       : 20px;
            font-weight     : 500;
        }

        .manage__nav-list {
            list-style      : none;
            padding         : 0;
            margin          : 0;
            text-align      : left;
            background-color: #3c4b64;
            color           : #b1b7c1;
            height          : calc(100% - 65px);

            .link {
                text-decoration: none;
                color          : #b1b7c1;
            }

            h4 {
                padding       : 20px 20px;
                text-transform: uppercase;
                font-size     : 15px;
                letter-spacing: -1px;
                margin        : 0;
                font-weight   : 700;
            }

            li {
                padding: 10px 30px;

                &:hover {
                    background-color: #4a5a75;
                    cursor          : pointer;
                    color           : #fff;
                }
            }

            span {
                margin-left: 10px;
            }
        }
    }

    .manage__body {
        flex          : 5;
        display       : flex;
        flex-direction: column;

        .manage__header {
            height: 100px;
            width : 100%;
            color : #888787;

            .manage__header-top {
                height         : 65px;
                border-bottom  : 1px solid rgb(223, 221, 221);
                display        : flex;
                justify-content: space-between;
                align-items    : center;

                .link {
                    text-decoration: none;
                    color          : #888787;
                    cursor         : pointer;

                    &:hover {
                        color: #000;
                    }
                }

                li {
                    list-style: none;
                    padding   : 10px 10px;
                    cursor    : pointer;

                    &:hover {
                        color: #000;
                    }
                }

                .manage__header-top-left {
                    margin : 0;
                    display: flex;
                    padding: 0 10px;

                }

                .manage__header-top-right {
                    display    : flex;
                    padding    : 0 10px;
                    align-items: center;
                    margin     : 0;

                    .avatar {
                        border       : 1px solid rgb(163, 161, 161);
                        height       : 45px;
                        width        : 45px;
                        border-radius: 50%;
                    }
                }
            }

            .manage__header-bottom {
                border-bottom: 1px solid rgb(223, 221, 221);
                height       : 40%;
                display      : flex;
                align-items  : center;

                .manage__url {
                    margin: 0 30px;
                    color : black;
                }
            }
        }

        .manage__content {
            background-color: #ebedef;
            flex            : 1;

            .manage__content-center {
                // min-height      : 100%;
                width           : 100%;
                background-color: #fff;
                border-radius   : 5px;
                border          : 20px solid #ebedef;
                padding         : 0 100px;

                .user-manage {
                    margin-bottom: 20px;
                }

                .manage__content-form {
                    display: flex;
                    margin : 30px 0;

                    label {
                        font-weight: 500;
                        width      : 200px;
                    }

                    input {}

                    .manage__content-label {
                        width: 165px;
                    }

                    select {
                        width: 20%;
                    }

                    .label-upload {
                        width          : 50px;
                        display        : flex;
                        align-items    : center;
                        justify-content: center;

                    }

                    .form-control-icon {
                        font-size: 30px;
                        cursor   : pointer;
                    }

                    .preview {
                        height: 100px;
                        width : 100px;
                        border: 1px solid 9b9c9c;
                    }
                }
            }
        }
    }
}