.product-manage {
    h4 {
        font-weight: 700;
        color      : #9b9c9c;
    }

    .preview-upload {
        margin: 30px 0;
        border: 1px solid #9b9c9c;


        .label-upload {
            border: 1px solid #9b9c9c;

        }

        .manage__content-form {
            height : 100px;
            gap    : 10px;
            display: flex;

            .manage__content-label {}
        }

    }

    .quantity {
        height: 50px;
        width : 70px;
    }

    .multiple-upload {
        gap      : 10px;
        display  : flex;
        flex-wrap: wrap;

        .previewMultiple {
            border: 1px solid #9b9c9c;

            width : 100px;
            height: 100px;

        }
    }


    .manage__content-color {
        display: flex;
        gap    : 10px;

        button {
            border       : 1px solid rgb(41, 40, 40);
            width        : 100px;
            font-size    : 15px;
            color        : #c2c0c0;
            outline      : none;
            border-radius: 5px;
            overflow     : hidden;
            height       : 30px;

            &.active {
                border: 5px solid rgb(11, 215, 230);
            }

            &:hover {
                opacity: 0.8;
            }
        }

    }

    .manage__content-form {
        display: flex;

        select {
            flex : 1;
            width: 200px;
        }


    }

}