/* phone category drawer */
.phone__category__drawer {
    width: 46%;
    height: 250px;
    background: #fff;
    position: absolute;
    bottom: -140px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.wrap__item__category {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}
.wrap__item__category div {
    margin-left: 10px;
    width: 90px;
    margin-top: 15px;
    text-align: center;
}
.wrap__item__category div img {
    width: 50%;
    background: #e4dcdcf4;
    border-radius: 50%;
}
.wrap__item__category div {
    color: black;
}

.lapTopPc__category__drawer {
    width: 46%;
    height: 250px;
    background: #fff;
    position: absolute;
    bottom: -140px;
    left: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.EquipSound__category__drawer {
    width: 46%;
    height: 280px;
    background: #fff;
    position: absolute;
    bottom: -170px;
    right: 160px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}
.wrap__item__category div img:hover {
    transform: scale(1.10);
}
