.manage__post-container {
    display       : flex;
    height        : 90vh;
    padding-top   : 20px;
    flex-direction: column;



    .markdown {
        outline: none;
        height : 100% !important;
    }

    .select {
        width : 400px;
        margin: 10px 0;

    }

    button {
        width : 200px;
        margin: 10px 0;
    }
}