.modal__detail {
    background-color: rgba(0, 0, 0, 0.5);
    height          : 100%;
    display         : flex;
    flex-direction  : column;
    align-items     : center;


    .modal__container {
        width           : 1100px;
        background-color: white;
        overflow-y      : scroll;

        .modal__nav {
            height          : 70px;
            display         : flex;
            position        : sticky;
            gap             : 15px;
            justify-content : center;
            align-items     : center;
            list-style      : none;
            border-bottom   : 1px solid #e4e4e4;
            background-color: white;
            top             : 0;
            z-index         : 10;

            .modal__nav-item {
                cursor: pointer;

                &.active {
                    color      : #2d9cdb;
                    font-weight: 700;
                }
            }
        }

        .modal__content {
            height : 1000px;
            padding: 10px 200px;

            .post__image {
                height: 540px;
                margin: 20px 0;
            }

            img {
                width: 100%;
            }
        }



    }

    .close__btn {
        display        : flex;
        align-items    : center;
        justify-content: center;
        font-size      : 15px;
        height         : 40px;
        position       : absolute;
        right          : 10px;
        top            : 10px;
        border-radius  : 6px;
        border         : none;
    }
}

.ReactModal__Overlay {
    z-index: 10;
}